.grid_1-1 {
  display: grid;
  gap: 10px;
}

.grid_1-2 {
  display: grid;
}

.kategorier {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
}
.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; */
}

.billedegrid {
  display: grid;
}
.billede {
  grid-column: 1;
  grid-row: 1;
}

.product {
  /* display: grid; */
  /* grid-template-rows: subgrid; */
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
  text-transform: uppercase;
}

.sizes {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .kategorier {
    grid-template-columns: repeat(3, 1fr);
  }

  .product_list_container {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .order_information {
    margin: 20px;
  }

  .footer_logo {
    grid-column: 1/3;
  }
}
