/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary: #780000;
  --sort: #272626;
  --tilbud: #c1121f;
}
/* generalt css */
body {
  background-color: #ffffff;
  font-family: "Noto Sans Display", sans-serif;
}
main {
  padding: 20px;
  margin: 0 auto;
}
h1 {
  margin: 5px 0 25px 0;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h2 {
  margin: 30px 0;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
footer {
  text-transform: uppercase;
  background-color: white;
}
footer .logo {
  padding: 10px;
  font-family: "Candal", sans-serif;
}
footer .logo a {
  color: white;
}

.hero {
  padding: 40px;
  background: radial-gradient(rgb(255, 0, 0), var(--primary));
  background-size: 400% 400%;
}

.hero h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  color: white;
}

.hero p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  color: white;
}
.kategorier {
  padding: 1px;
}
.kategorier a {
  padding: 12vh 10px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;
  border: var(--sort) solid 2px;
  border-radius: 4px;
  transition: 0.2s;
  background-color: rgb(206, 206, 206);
}
.kategorier a:hover {
  background-color: #b53a3a;
  transition: 0.2s;
}

button,
#subscribe {
  background-color: var(--sort);
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  margin: 20px 0;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

.divider {
  height: 1px;
  background-color: var(--sort);
  margin: 40px 0;
}

.colorbox h2,
.colorbox p {
  margin: 5px 5px;
}

.product {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  padding: 10px;
  transition: 0.2s;
}
#productlist .product:hover {
  background-color: rgb(246, 246, 246);
  transition: 0.2s;
}

ul {
  margin: 40px 20px;
  text-transform: uppercase;
}
dt {
  font-size: large;
}
dd {
  margin: 0 0 10px 0;
}

p {
  margin: 10px;
}

.tilbud-label {
  place-self: start end;
  background-color: var(--tilbud);
  padding: 5px 10px;
  font-size: small;
  color: white;
  display: none;
}

.udsolgt-label,
.basket {
  place-self: end center;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: small;
  color: white;
  display: none;
  margin: 5px 0;
  text-transform: uppercase;
}

.udsolgt-label a,
.basket a {
  color: white;
}

.basket {
  padding: 10px 20px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.tilbud {
  color: var(--tilbud);
  display: none;
}
.price p {
  margin: 0;
}

.show {
  display: block;
}
.show {
  display: hide;
}
.old_price {
  text-decoration: line-through;
}

/* computerview */
@media (min-width: 800px) {
  #productpage .product img {
    width: 40vw;
    height: auto;
  }
}
