/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary: #ff4400;
  --sort: #272626;
}
/* generalt css */
body {
  background-color: #ffffff;
  font-family: "Noto Sans Display", sans-serif;
}
main {
  padding: 20px;
  min-height: 92vh;
  max-width: 1500px;
  margin: 0 auto;
}
h1 {
  margin: 5px 0 50px 0;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Noto Sans Display", sans-serif;
}

h2 {
  margin: 30px 0;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
header {
  display: grid;
  padding: 5px 0 0 20px;
  z-index: 10;
  text-transform: uppercase;
}

header .logo a {
  padding: 10px;
  background-color: var(--primary);
}
header .logo {
  text-align: center;
  font-family: "Candal", sans-serif;
}
.logo-r {
  text-transform: uppercase;
  font-size: larger;
}
footer {
  text-transform: uppercase;
  background-color: var(--sort);
}
footer .logo {
  padding: 10px;
  font-family: "Candal", sans-serif;
}
footer .logo a {
  color: white;
}

.kategorier {
  padding: 1px;
}
.kategorier a {
  background-color: rgb(255, 255, 255);
  padding: 12vh 10px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;
  border: var(--sort) solid 2px;
}
.kategorier a:hover {
  background-color: var(--primary);
}

a {
  color: black;
  text-decoration: none;
}

.divider {
  height: 1px;
  background-color: var(--sort);
  margin: 40px 0;
}

.colorbox h2,
.colorbox p {
  margin: 5px 5px;
}

.product {
  transition: 0.5s;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.product:hover {
  transition: 0.5s;
}

/* .product img {
  width: 282.5px;
  height: auto;
  margin: 0 auto;
} */

/* #productlist .udsolgt {
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: grid;
  place-content: center;
  color: white;
  grid-row: 1;
  position: absolute;
  text-transform: uppercase;
} */

ul {
  margin: 40px 20px;
  text-transform: uppercase;
}
dt {
  font-size: large;
}
dd {
  margin: 0 0 10px 0;
}

p {
  margin: 10px;
}

.tilbud-label {
  place-self: start end;
  background-color: red;
  padding: 5px 10px;
  font-size: small;
  color: white;
  display: none;
}

.udsolgt-label,
.basket {
  place-self: end center;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: small;
  color: white;
  display: none;
  text-transform: uppercase;
}
.udsolgt-label a,
.basket a {
  color: white;
}

.basket {
  padding: 10px 20px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.tilbud {
  color: var(--primary);
  display: none;
}
.price p {
  margin: 0;
}

.show {
  display: block;
}
.show {
  display: hide;
}
.old_price {
  text-decoration: line-through;
}

.product {
  padding: 10px;
}
/* computerview */
@media (min-width: 800px) {
  #productpage .product img {
    width: 40vw;
    height: auto;
  }
}
